.root {
    -fx-background: white;
}

.root #options-vbox {
    -fx-alignment: center;
    -fx-padding: 0px 30px 0px 30px;
    -fx-spacing: 30px;
}

.root #options-vbox .mfx-button {
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -mfx-button-type: raised;
    -fx-padding: 0px;
}

.root #options-vbox .button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.root .image-view {
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.root #right-hbox {
    -fx-alignment: center-right;
}