@import "../fonts/Fonts.css";

.root {
    -fx-font-family: "Norwester";
    -fx-background: transparent;
}

.root #hbox {
    -fx-alignment: center;
}

.root .mfx-button {
    -fx-content-display: graphic-only;
    -fx-background-color: transparent;
    -mfx-button-type: raised;
    -fx-padding: 0px;
}

.root .button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.root #close-hbox {
    -fx-alignment: top-right;
    -fx-padding: 15px 75px 0px 0px;
}

.root #create-hbox {
    -fx-alignment: bottom-right;
    -fx-padding: 0px 75px 15px 0px;
}

.root #vbox {
    -fx-alignment: center;
}

.root #presets-vbox {
    -fx-alignment: center;
    -fx-padding: 30px 0px 0px 40px;
    -fx-spacing: 5px;
}

.root #player-counter-textfield {
    -fx-font-size: 100px;
    -fx-text-fill: white;
    -fx-alignment: center;

    -fx-max-width: 425px;
    -fx-max-height: 192px;

    -fx-padding: 0px;

    -fx-background-color: transparent;
    -fx-background-image: url("../images/components/textfields/2.png");
    -fx-background-size: stretch;
    -fx-background-repeat: no-repeat;
}

.root #player-counter-hbox {
    -fx-spacing: 22px;
    -fx-alignment: center;
}

.root #arrow-vbox, #vbox {
    -fx-alignment: center;
}

.root #flow-pane {
    -fx-alignment: top-center;
}